/* Choose Username */
#chooseUsernameHBox {
    -fx-font-size: 16px;
    -fx-font-family: Arial;
    -fx-background-color: #c03049;
}

#chooseUsernameHBox .text-field {
    -fx-border-width: 2px;
    -fx-border-color: #505050;
    -fx-font-size: 18px;
}

#chooseUsernameHBox #keyboardInputButton {
    -fx-font-size: 20px;
}

/* Choose Allies Team & Total Threads & Tasks Withdrawal Size */
#moreChoicesHBox {
    -fx-background-color: #de5a5a;
    -fx-font-family: Arial;
}

#moreChoicesHBox .choice-label {
    -fx-font-size: 20px;
    -fx-font-weight: Bold;
}

/*noinspection ALL,CssUnusedSymbol*/
#moreChoicesHBox .combo-box {
    -fx-font-size: 12px;
    -fx-background-color: #ffffff;
    -fx-border-color: #505050;
    -fx-border-width: 2px;
}

/*noinspection ALL,CssUnusedSymbol*/
#moreChoicesHBox .combo-box .arrow-button {
    -fx-background-color: #f0f0f0;
}

/*noinspection ALL,CssUnusedSymbol*/
#moreChoicesHBox .combo-box .open-button .arrow {
    -fx-background-color: #505050;
}

/*noinspection ALL,CssUnusedSymbol*/
#moreChoicesHBox .slider .thumb {
    -fx-background-color: #505050;
}

/*noinspection ALL,CssUnusedSymbol*/
#moreChoicesHBox .slider .track {
    -fx-background-color: #b4b4b4;
}

/*noinspection ALL,CssUnusedSymbol*/
#moreChoicesHBox .slider .axis:bottom .axis-tick-mark {
    -fx-fill: null;
    -fx-stroke: #ffffff;
}

/*noinspection ALL,CssUnusedSymbol*/
#moreChoicesHBox .slider .axis:bottom {
    -fx-tick-label-fill: #505050;
}

#moreChoicesHBox #tasksWithdrawalSizeComboBox {
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-label-padding: 0;
    -fx-border-color: #c03049;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-background-radius: 5px;
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #323232;
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-background-position: 0;
}

/*noinspection ALL,CssUnusedSymbol*/
#moreChoicesHBox #tasksWithdrawalSizeComboBox .arrow-button {
    -fx-background-insets: 0;
    -fx-background-color: #c03049;
    -fx-background-radius: 1px;
}

/*noinspection ALL,CssUnusedSymbol*/
#moreChoicesHBox #tasksWithdrawalSizeComboBox .arrow-button .arrow {
    -fx-background-color: #323232;
}

/* Login or Quit */
#loginHBox {
    -fx-background-color: #f0f0f0;
    -fx-border-width: 4px;
    -fx-border-color: #d13e58;
}

#loginHBox .button {
    -fx-effect: none;
    -fx-text-fill: #dcdcdc;
    -fx-font-family: Arial;
    -fx-font-weight: Bold;
    -fx-font-size: 28px;
    -fx-background-radius: 3em;
    -fx-border-width: 3px;
    -fx-border-radius: 2em;
}

#loginHBox .button:hover {
    -fx-text-fill: #ffffff;
}

#loginHBox #login {
    -fx-background-color: #0a9128;
}

#loginHBox #login:hover {
    -fx-background-color: #0aaf28;
    -fx-border-color: #0ad728;
}

#loginHBox #quit {
    -fx-background-color: #910a0a;
}

#loginHBox #quit:hover {
    -fx-background-color: #af0a0a;
    -fx-border-color: #d70a0a;
}

/* Errors */
#errorHBox {
    -fx-background-color: #ad2d5e;
}

#errorHBox #details {
    -fx-font-family: Arial;
    -fx-font-weight: Bold;
    -fx-text-fill: #f0f0f0;
}

.header-label {
    -fx-font-size: 30px;
    -fx-font-weight: Bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 1, 0, 1, 1);
}