#main {
    -fx-border-width: 6px;
    -fx-border-color: #1815bf;
}

#keyboardInputVBox {
    -fx-background-color: #4830bf;
}

#keyboardInputVBox .machine-state-vbox .header-label {
    -fx-text-fill: #323232;
    -fx-font-size: 18px;
}

#keyboardInputVBox .information-label {
    -fx-text-fill: #323232;
    -fx-font-size: 12px;
    -fx-font-style: Italic;
}

#keyboardInputVBox .button {
    -fx-background-color: #8ac425;
    -fx-text-fill: #ffffff;
    -fx-font-family: Roboto;
    -fx-font-size: 14px;
    -fx-font-weight: Bold;
}

#keyboardInputVBox .text-field {
    -fx-font-size: 16px;
    -fx-border-color: #505050;
    -fx-border-width: 2px;
}

.search-dictionary-words-vbox {
    -fx-background-color: #8546eb;
}

.search-dictionary-words-vbox .button {
    -fx-effect: none;
    -fx-background-color: #bca3e5;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}

.search-dictionary-words-vbox .stack-button {
    -fx-background-color: #8546eb;
    -fx-background-radius: 0;
    -fx-border-width: 1px;
    -fx-border-radius: 0;
    -fx-border-color: #bca3e5;
}

.search-dictionary-words-vbox .text-field {
    -fx-background-color: transparent;
    -fx-font-weight: Bold;
    -fx-text-fill: #796d94;
    -fx-padding: 0 0 0 -10;
    -fx-prompt-text-fill: #796d94;
}

.search-dictionary-words-vbox #dictionaryScrollPane {
    -fx-background-color: #f0f0f0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 1, 100, 0, 0);
}

.search-dictionary-words-vbox #dictionaryScrollPane .viewport {
    -fx-background-color: #f0f0f0;
}

.search-dictionary-words-vbox #dictionaryScrollPane .list-view, .thumb {
    -fx-background-color: #f0f0f0;
    -fx-font-weight: Bold;
    -fx-font-size: 10px;
    -fx-text-fill: #000000;
}

.search-dictionary-words-vbox #dictionaryScrollPane .track {
    -fx-background-color: none;
}

.search-dictionary-words-vbox #dictionaryScrollPane .track-background {
    -fx-background-color: #c4c4c4;
}

.header-label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 1, 0, 1, 1);
}

#contestTableView {
    -fx-font-family: Arial;
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-padding: 0;
}

#contestTableView .column-header-background .nested-column-header .table-column {
    -fx-background-color: #0f228c;
    -fx-border-color: black;
    -fx-border-width: 1px 1px 2px 1px;
}

#contestTableView .column-header-background .nested-column-header .table-column .label {
    -fx-text-fill: #323232;
    -fx-font-weight: Bold;
}

#contestTableView .column-header-background .show-hide-columns-button {
    -fx-background-color: #0f228c;
    -fx-border-color: black;
    -fx-border-width: 1px 1px 2px 1px;
}

#contestTableView .virtual-flow .scroll-bar:vertical .track-background {
    -fx-background-color: #ffffff;
    -fx-border-color: #323232;
}

#contestTableView .virtual-flow .scroll-bar:vertical .track-background {
    -fx-background-color: #ffffff;
    -fx-border-color: #323232;
}

#contestTableView .placeholder {
    -fx-text-fill: #cdcdcd;
}

#contestButtonsVBox {
    -fx-background-color: #3145b5;
}

#contestButtonsVBox .button {
    -fx-background-color: #0f228c;
    -fx-font-family: Roboto;
    -fx-font-size: 14px;
    -fx-font-weight: Bold;
    -fx-text-fill: #ffffff;
}

#contestButtonsVBox .button:hover, .chosen-button {
    -fx-background-color: #8ac425;
}

#searchDictionaryWordsHBox {
    -fx-background-color: #e6e6e6;
}

#searchDictionaryWordsHBox .label {
    -fx-text-fill: #616161;
    -fx-font-weight: Bold;
}

#searchDictionaryWordsHBox #statusHeader {
    -fx-font-size: 22px;
}

#searchDictionaryWordsHBox #finalCandidates {
    -fx-font-size: 14px;
}

#searchDictionaryWordsHBox .scroll-pane {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(204, 204, 204, 1.0), 1, 100, 0, 0);
}

#searchDictionaryWordsHBox .scroll-pane .list-view, .viewport {
    -fx-background-color: #ffffff;
}

#searchDictionaryWordsHBox .scroll-pane .track-background, .scroll-pane .track {
    -fx-background-color: #bbbbbb;
    -fx-border-width: 0px;
}

.scroll-pane .track {
    -fx-effect: none;
}

.scroll-pane .thumb, .increment-button .increment-arrow, .decrement-button .decrement-arrow {
    -fx-background-color: #505050;
    -fx-effect: none;
}

.button {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 1, 100, 0, 0);
}


