#mainGridPane {
    -fx-background-color: #a73246;
}

/* Contest & Team Data */
#mainGridPane #contestAndTeamDataVBox {
    -fx-background-color: #c02e49;
}

#mainGridPane #contestAndTeamDataVBox .header-label {
    -fx-text-fill: #323232;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 1, 0, 1, 1);
    -fx-font-size: 28px;
    -fx-font-family: Arial;
    -fx-font-weight: Bold;
    -fx-font-style: Italic;
}

/*noinspection ALL,CssUnusedSymbol*/
#mainGridPane #contestAndTeamDataVBox .table-view {
    -fx-table-cell-border-color: transparent;
    -fx-background-color: #ffffff;
    -fx-border-color: #2d86d0;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-font-size: 16px;
}

/*noinspection ALL,CssUnusedSymbol*/
#mainGridPane #contestAndTeamDataVBox .table-column , .filler {
    -fx-table-cell-border-color: transparent;
    -fx-background-color: #dcdcdc;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-color: #bebebe;
    -fx-spacing: 0;
    -fx-font-size: 16px;
}

#mainGridPane #contestAndTeamDataVBox .text-field {
    -fx-font-size: 20px;
    -fx-border-color: #000000;
}

#mainGridPane #contestAndTeamDataVBox #logoutButton {
    -fx-background-color: #d02d2d;
    -fx-border-color: #d02d2d;
    -fx-text-fill: #f0f0f0;
    -fx-font-size: 24px;
    -fx-font-family: Arial;
    -fx-font-weight: Bold;
}

#mainGridPane #contestAndTeamDataVBox #logoutButton:hover {
    -fx-background-color: #e10606;
    -fx-border-color: #be0b0b;
    -fx-text-fill: #ffffff;
}

/* Agent Progress & Status */
#mainGridPane #agentProgressAndStatusVBox {
    -fx-background-color: #d1433e;
}

#mainGridPane #agentProgressAndStatusVBox .header-label {
    -fx-text-fill: #323232;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 1, 0, 1, 1);
    -fx-font-size: 22px;
    -fx-font-family: Arial;
    -fx-font-weight: Bold;
    -fx-font-style: Italic;
}

#mainGridPane #agentProgressAndStatusVBox .dm-progress-hbox {
    -fx-font-size: 16px;
}

/* Agent's Candidates */
#mainGridPane #agentCandidatesVBox {
    -fx-background-color: #882134;
}

#mainGridPane #agentCandidatesVBox .header-label {
    -fx-text-fill: #f0f0f0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 1, 0, 1, 1);
    -fx-font-size: 24px;
    -fx-font-family: Arial;
    -fx-font-weight: Bold;
    -fx-font-style: Italic;
}

#mainGridPane #agentCandidatesVBox #encryptedMessage {
    -fx-text-fill: #f0f0f0;
    -fx-font-weight: Bold;
}

#mainGridPane #agentCandidatesVBox .text-field {
    -fx-border-color: #000000;
}

/*noinspection ALL,CssUnusedSymbol*/
#mainGridPane #agentCandidatesVBox .table-view {
    -fx-table-cell-border-color: transparent;
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1px 1px 1px 1px;
}

/*noinspection ALL,CssUnusedSymbol*/
#mainGridPane #agentCandidatesVBox .table-column , .filler {
    -fx-table-cell-border-color: transparent;
    -fx-background-color: #dcdcdc;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-color: #bebebe;
    -fx-spacing: 0;
}

